Rick Component
._rick-images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next{
    background-image: url("https://www.downloadclipart.net/large/next-button-transparent-png.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 50px;
    &::after{
        display: none;
    }
}